body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #2a2939;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #23222f;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.padding {
  padding-top: 5%;
}

.title-image {
  position: absolute;
  right: 24%;
  width: 80%;
}

/* Search Section */
.search-section {
  background-color: #2a2939;
  color: #fff;
}

.flavour-text {
  color: #adb2bf;
  font-size: 2rem;
  padding: 4%;
}

.box {
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 4%;
}

.definition-lead {
  font-size: 2.5rem;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.definition-title {
  font-size: 2rem;
  font-weight: bold;
}

.definition-header {
  font-size: 1.1rem;
  font-weight: 300;
  padding-top: 10%;
  text-transform: uppercase;
}

.definition-text {
  color: #fff;
  font-size: 1.2rem;
}

#definitions {
  position: relative;
}

.definition-box {
  background-color: #3d3c4b;
  padding: 4.5%;
}

.definition-icon {
  color: #755091;
  padding: 10%;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #683f86;
  margin-bottom: 1rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #2a2939;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Sponsors Section */
#sponsors {
  background-color: #fff;
  padding-bottom: 3%;
}

.sponsors-title {
  color: #000;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.sponsor-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

#footer-text {
  color: #adb2bf;
}

.none {
  text-decoration: none;
}

.none:hover {
  text-decoration: none;
}

/* Response Queries */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }

  .flavour-text {
    font-size: 1.5rem;
  }
}

/* Mobile Responsive */
